@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #__nuxt {
        @apply min-h-screen flex flex-col;
    }

    html {
        @apply text-gray-800 dark:bg-gray-900;
    }

    html.dark {
        @apply text-gray-50 bg-gray-900;
    }

    button,
    a,
    [role="button"] {
        @apply transition-colors;
    }

    input[type="checkbox"],
    input[type="radio"] {
        @apply transition-all;
    }
    main {
        margin-left: 0;
        margin-right: 0;
    }

    /* Custom Scrollbar Styles */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-300 dark:bg-gray-700 rounded-full transition-colors;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-teal-500/50 dark:bg-teal-600/50;
    }
    
    /* For Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: theme('colors.gray.300') transparent;
    }
    
    .dark * {
        scrollbar-color: theme('colors.gray.700') transparent;
    }
}
